{# The content of this FAQ page is essentially the same as the 2013 version of the site, except for the primary email being updated #}

{% extends 'nav_base.html' %}

{% block page_title %}FAQ{% endblock %}

{% block nav_content %}
  <li><a href="{% url 'user_profile_page' %}">Home</a></li>
  <li><a href="{% url 'user_settings_page' %}">Settings</a></li>
  <li><a href="{% url 'logout_page' %}">Logout</a></li>
{% endblock %}


{% block header_text %}
  Frequently Asked Questions
{% endblock %}


{% block page_content %}

<p><strong>How do I opt out of this website?</strong><br /></p>

<p>Go to the <a href="{% url 'user_settings_page' %}">Settings</a> page. Enter your email address and password in the section "Opt out of the website" and then press "Submit."<br /></p>

<p><strong>How do I change my email address or password?</strong><br /></p>

<p>You can change your email address or password on the <a href="{% url 'user_settings_page' %}">Settings</a> page.</p>

<p id="contact"><strong>Who do I contact if I have questions about the site?</strong><br />
   </p>
   <p>For more information about the site, you may contact us at <a href="mailto:{% contact_email %}">{% contact_email %}</a>.<br/>
   </p>

{% endblock %}
