{% extends 'nav_base.html' %}

{% comment %} 
Users that have forgotten their password can reset their password on this page.
{% endcomment %}

{% block page_title %}
	Password Reset
{% endblock %}

{% block nav_content %}
<li><a href="{% url 'registration_page' %}">Registration</a></li>
<li><a href="{% url 'login_page' %}">Login</a></li>
{% endblock %}

{% block header_text %}
  Password Reset
{% endblock %}

{% block page_content %}
  <p>
    Please enter in the email address you used to register for the site.
  </p>
  <p>
    You will be emailed a new password.
  </p>

  <form id="forgot_password_form" method="POST" action="{% url 'forgot_password_page' %}">
    {% csrf_token %}
    <table class="center">
      {{ form.as_table }}
    </table>
    <hr>
    <div align="center"> 
      <input type="submit" value="Submit" />
    </div>
  </form>
{% endblock %}
