{% extends 'base.html' %}

{% comment %} 
This file is to be extended by all pages of the public site that require
the use of the navigation bar on the left side, such as the home page. 
This template ensures a consistent style for pages that use the navbar.
{% endcomment %}

{% block page_layout %}
<div class="row contentbg">
  <div class="col-sm-4 col-md-4 nav2bg nav2">
    <a href="{% url 'home' %}">
      <img class="img-responsive" src="static/images/logo.gif" alt="Logo of the site">
    </a>
    <div class="sidebar-nav">
      <div class="navbar" role="navigation">
        <div class="navbar-header">
          <a href="{% url 'home' %}">Home</a>
        </div>

          <ul class="nav navbar-nav"> 
            {% block nav_content %}
            {% endblock %}
          </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-md-8 content">
    <h1>{% block header_text %}{% endblock %}</h1>
    {% block page_content %}
    {% endblock %}
  </div>
</div>
{% endblock %}
